
.header__top{
    background-color: #000000;
    display: flex;
    position: relative;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.hamburger__logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.hamburger-btn:hover {
    color: #000;
}

body{
    font-family: 'Roboto'
}

a.header__top--nonactive {
    margin-right: 0.75em;
}

.header__top a {
    text-decoration: none;
}

body{
    margin: 0;
}

a.header__top--active {
    position: absolute;
}

.header__top a, .hamburger-nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header__top a{
    color: #fff;
}

.hamburger-nav a{
    color: black;
}

a.header__top--active::before {
    content: url(../MULTITEST/ikona_ucet.svg);
    padding-right: 0.5em;
}

a.header__top--active {
    position: absolute;
    display: flex;
}

.uvodka__text2, .uvodka__text1 {
    position: absolute;
    bottom: 3rem;
    right: 0;
    color: #fff;
    text-align: right;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
}
  
.hamburger span {
    position: absolute;
    height: 5px;
    width: 50px;
    background: #000000;
    border-radius: 4.5px;
    left: 0;
}

.hamburger span:nth-child(1) { top: 6px; }
.hamburger span:nth-child(2) { top: 20px; }
.hamburger span:nth-child(3) { bottom: 6px; }

body {
    margin: 0;
}
.hamburger-row {
    padding-right: calc(100%/20);
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
}
.hamburger {
    display: block;
}

.hamburger-nav ul {
    margin: 0;
    padding: 0;
}
.hamburger-nav li {
    display: block;
}

.hamburger__logo {
    position: absolute;
}

header{
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 6rem;
}

a.hamburger-btn {
    text-decoration: none;
}

.hamburger__logo {
    font-size: 1.3rem;
}

.hamburger-nav a {
    color: rgb(255, 255, 255);
}

a.button.btn-primary {
    background-color: #006B38FF;
    padding: 0.25rem;
    border-radius: 5%;
    color: #fff;
    text-decoration: none;
}

a.button.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #006B38FF;
}

code {
    background-color: #d5d5d5;
    padding: 0.2rem;
}

blockquote p {
    background-color: #d5d5d5;
    padding: 0.2rem;
}

blockquote .author {
    font-weight: bolder;
}

blockquote {
    border-left: 1px solid #000;
}

ul ul li, ol ol li {
    margin: 0.5rem 0;
}

ol li, ul li{
    margin-bottom: .8rem;
}

table {
    width: 100%;
    background-color: #dfdfdf;
    border: 2px solid #4caf50;
}

thead {
    background-color: beige;
}

span.btn-close {
    margin-right: 2rem;
}

.message {
    display: flex;
    align-items: center;
}

.message--warning {
    background-color: #ffc107;
}

.message--succes {
    background-color: #8bc34a;
}

.message--basic {
    background-color: #ff5722;
}

.message {
    margin: 0.75rem 0;
    padding: 0 1rem;
}

button.btn-warning {
    background-color: crimson;
    border: 1px solid black;
    color: #fff;
}

button.btn-warning:hover {
    background-color: rgb(43, 220, 20);
    color: rgb(0, 0, 0);
    padding: .5rem 1.25rem;
    transition: ease-in-out .5s;
}

button.btn-disabled {
    background-color: cornflowerblue;
    border-radius: .25rem;
    border: 1px solid black;
}

button.btn-disabled:hover {
    background-color: rgb(0, 88, 252);
    color: #fff;
}

button.btn-noclick {
    background-color: burlywood;
    border: 1px solid black;

}

button.btn-noclick:hover {
    background-color: rgb(255, 164, 46);
}

button.btn-primary {
    background-color: beige;
    border: 1px solid black;
}

button.btn-primary:hover {
    background-color: rgb(255, 255, 100);
}

button {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.box--background-color {
    background-color: #e7e7e7;
    padding: 0.1rem 0.5rem;
}

.pre-wrapper {
    background-color: #cfcfcf;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

span.code-punctuation, span.code-class {
    color: chocolate;
}

footer {
    background-color: #000;
    color: #fff;
}

p.footer__name a, p.footer__email a {
    text-decoration: none;
    color: #fff;
}

footer.box--half {
    padding-top: 1rem;
    padding-bottom: 9rem;
}

footer.box--half {
    margin-top: 3rem;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}